.container

  %h1{style: 'color: #87F834'} RepoFinder

  .well{style: 'margin-top: 1.0em'}
    %h1 New query
    = form_tag repo_list_path(page: 1), role: 'form', method: :get do
      .form-group
        %label{for: 'keyword'} Keyword to search on
        = text_field_tag 'keyword'
        .radio
          %label
            = radio_button_tag 'sort', 'asc', true
            Ascending
        .radio
          %label
            = radio_button_tag 'sort', 'desc'
            Descending
        = submit_tag 'Run query', class: 'btn btn-default'

  - unless @current_query.blank?
    .well
      %h1 Current query
      %p
        Keyword:
        = @current_query
      %p
        Sort:
        = @sort

    %h1 Results of current query
    %p= "Showing #{((@page - 1) * 30) + 1} through #{@page * 30} of #{@total_count}"
    %h2 Languages
    %p (Click a language to see just matching repos.)
    - for language in @languages
      %button.btn.btn-default.language= language
    %br
    %br
    %button.btn.btn-default.show-all (show all)

    %h2 Items
    %table.table
      %tr
        %th Repo name
        %th Language
        %th Stars
      - for item in @items
        %tr{class: item.language}
          %td= item.name
          %td= item.language
          %td= item.stargazers_count
    %ul.pager
      - if @page > 1
        %li= link_to('Previous', repo_list_path(keyword: @current_query, page: @page - 1, sort: @sort))
      - if @page <= @total_count / 30
        %li= link_to('Next', repo_list_path(keyword: @current_query, page: @page + 1, sort: @sort))

:javascript

  $(document).ready(function() {
    $('button.language').on('click', function() {
      $('button.language').removeClass('btn-info');
      $(this).addClass('btn-info');
      selectedLanguage = $(this).text();
      $('tr').hide();
      $('tr.' + selectedLanguage).show();
      return false;
    });
    $('button.show-all').on('click', function() {
      $('button.language').removeClass('btn-info');
      $('tr').show();
      return false;
    });
  });